<ion-content class="login-page">
  <div class="logo-container">
    <h1 class="title">Iniciar Sesión</h1>
  </div>

  <form (ngSubmit)="onLogin()" #loginForm="ngForm" class="form-container">
    <ion-item class="custom-item">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input 
        [(ngModel)]="email" 
        name="email" 
        type="email" 
        required 
        email 
        #emailInput="ngModel">
      </ion-input>
    </ion-item>
    <ion-note *ngIf="emailInput.invalid && emailInput.touched" color="danger" class="error-message">
      <span *ngIf="emailInput.errors?.['required']">El correo es obligatorio.</span>
      <span *ngIf="emailInput.errors?.['email']">Formato de correo no válido.</span>
    </ion-note>

    <ion-item class="custom-item">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input 
        [(ngModel)]="password" 
        name="password" 
        type="password" 
        required 
        minlength="6" 
        #passwordInput="ngModel">
      </ion-input>
    </ion-item>
    <ion-note *ngIf="passwordInput.invalid && passwordInput.touched" color="danger" class="error-message">
      <span *ngIf="passwordInput.errors?.['required']">La contraseña es obligatoria.</span>
      <span *ngIf="passwordInput.errors?.['minlength']">
        La contraseña debe tener al menos 6 caracteres.
      </span>
    </ion-note>

    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid" class="custom-button">
      Iniciar Sesión
    </ion-button>
    <ion-button expand="block" color="light" routerLink="/register" class="custom-button">
      Crear Cuenta
    </ion-button>
  </form>

  <div class="footer">
    <p>¿Olvidaste tu contraseña?</p>
  </div>
</ion-content>
